<app-modal [displayModal]="displayModal" [modalMessage]="modalMessage" (modalDisplayNone)="modalDisplayNone($event)"></app-modal>
<app-top></app-top>
<div *ngIf="!getGameHasEnded; else endGameTemplate">
    <app-painel (endgameEvent)="endgameEvent($event)" (modalAttributes)="modalAttributes($event)" (alertCheckOfAnswer)="alertCheckOfAnswer($event)"></app-painel>
</div>
<ng-template #endGameTemplate>
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <h2 id="message" class="text-white default-margin">{{ getMessage }}</h2>
                <p id="emoji" class="text-white default-margin font-size-3 rotation-90">{{ getEmoji }}</p>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" (click)="resetGame()">RESTART GAME</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-white default-margin">Resultados!</h2>
                <p class="text-white default-margin font-size-3"><span class="text-danger">{{ getCorrectAnswers }}</span> / {{ getTotalQuestions }}</p>
            </div>
        </div>
    </div>
</ng-template>