<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8">
                <div class="wrapper">
                    <app-progress [progressIndication]="progressIndicator"></app-progress>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wrapper">
                    <app-trys [heartsRemaining]="hearts"></app-trys>
                </div>
            </div>
        </div>
        <b>{{ INSTRUCTION }}:</b>
        <p>{{ sentences[currentAnswerDisplayed].getSentenceEn() }}</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea id="answerField" class="form-control" rows="3" placeholder="Digite a resposta aqui"
                    (input)="updateAnswer($event)"></textarea>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-end">
                <button role="button" class="btn btn-lg btn-outline-danger float-right"
                (click)="checkAnswer()">Verificar</button>
            </div>
        </div>
    </div>
</div>